* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
}

:root {
	--primary: 204, 74%, 57%, 100%;

	--secondary: 231, 100%, 70%, 100%;

	--tertiary: 165, 94%, 42%;
	--tertiary-foreground: 152, 69%, 31%;

	--muted: 200 24% 45%;
	--muted-foreground: 220 8.9% 46.1%;

	--muted-hover: 210 32% 30%;

}






a,
button {
	transition: all 300ms ease;
}

a {
	display: block;
	color: hsl(var(--primary));
	width: fit-content;
}

a:hover {
	color: hsl(var(--secondary));
}

.btn-primary {
	background: hsl(var(--primary));
	padding: 0.5rem 2rem;
	color: white;
	border-radius: 4px;
}

.btn-primary:hover {
	background: hsl(var(--secondary));
}

.btn-revert {
	border: 1px solid;
	border-color: hsl(var(--muted));
	padding: 0.5rem 2rem;
	color: hsl(var(--muted));
	border-radius: 4px;
}

.btn-revert:hover {
	background: hsl(var(--muted));
	border: hsl(var(--muted-hover));
	color: white;
}